.gifics-toolbelt {
  position: fixed;
  bottom: -100px;
  width: 100%;
}
.gifics-belt {
  height: 75px;
  background-color: #aaa;
}
.gifics-belt ol {
  margin: 0;
  padding: 0;
}
.gifics-belt ol li ol {
  display: none;
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100px;
  overflow-y: auto;
  overflow-x: visible;
  margin: 0;
  padding: 0;
#000
}
.gifics-belt ol li:hover ol {
  display: block;
}
.gifics-belt ol li:hover {
  background: none;
}
.gifics-belt ol li ol li:hover {
  background-color: #fff;
  border-radius: 50px;
}
.gifics-belt ol li ol li {
  display: block;
  margin-bottom: 15px;
  bottom: 0;
  background-color: #fff;
  border-radius: 50px;
}
.gifics-belt ol li ol li:last-child {
  margin-bottom: 0;
  background-color: #f00;
}
.gifics-belt li {
  position: relative;
  bottom: 25px;
  display: inline-block;
  list-style: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px;
}
.gifics-next-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 50px;
  height: 100px;
}
