iconRadius = 100px
beltHeight = 0px

li-rounded()
    background-color white
    border-radius (iconRadius/2)

.gifics-toolbelt 
    position fixed
    bottom -1 * iconRadius
    width 100%


.gifics-belt 
    height beltHeight
    background-color #aaa


.gifics-belt ol 
    margin 0
    padding 0


.gifics-belt ol li ol 
    display none
    
    position fixed
    bottom 0
    height 400px
    width iconRadius
    overflow-y auto
    overflow-x visible
    margin 0
    padding 0

.gifics-belt ol li:hover ol 
    display block

.gifics-belt ol li:hover
    background none

.gifics-belt ol li ol li:hover
    li-rounded()

.gifics-belt ol li ol li 
    display block
    margin-bottom 15px
    bottom 0
    li-rounded()
    &:last-child
        margin-bottom 0
        background-color red


.gifics-belt li 
    position relative
    bottom (iconRadius - beltHeight)
    display inline-block
    list-style none
    width iconRadius
    height iconRadius
    li-rounded()


.gifics-next-button 
    position absolute
    bottom 0
    right 0
    background-color white
    width 50px
    height iconRadius
